.height50 {
  height: 50px;
}
.navbar-default {
  border: 0 ;
  background: #f2f2f2;
}
.navbar-default.navbar {
  margin-bottom: 0;
}
.navbar-default .navbar-brand {
  padding: 4px;
}
@media (max-width: 767px) {
  .navbar-default {
    border: 0 ;
  }
  .navbar-default .navbar-toggle {
    border: 0;
  }
  .banner img {
    width: 100%;
  }
}
.banner .container-fluid {
  padding: 0;
}
.img1 {
  margin-bottom: 100px;
}
.img1 .col-lg-4 {
  padding: 0 5px;
  margin-bottom: 15px;
}
.img1 .col-lg-4 img {
  width: 100%;
}
.com {
  background: url(../img/month1_18.jpg) repeat-x;
  background-size: cover;
  padding-bottom: 55px;
}
.com .tit {
  margin-bottom: 80px;
}
.com .tit a {
  padding: 12px 33px;
  font-size: 18px;
  color: #3aab96;
  border: 1px solid #3aab96;
  border-radius: 40px;
}
.com .cbody .col-lg-2 img {
  width: 100%;
}
.com .cbody .caption p {
  font-size: 14px;
  line-height: 26px;
}
.com .cbody .caption .time {
  color: #99999c;
  font-size: 12px;
}
.medi {
  margin-top: 90px;
}
.medi .tit {
  margin-bottom: 10px;
}
.medi .tit a {
  padding: 12px 33px;
  font-size: 18px;
  color: #3aab96;
  border: 1px solid #3aab96;
  border-radius: 40px;
}
.medi .col-lg-1 {
  margin-left: 4%;
}
.medi .panel {
  margin-top: 30px;
  margin-bottom: 90px;
}
.medi .panel.panel1 {
  margin-top: 80px;
}
.medi .panel .panel-body img {
  min-height: 270px;
  width: auto;
}
.medi .caption {
  height: 87px;
  padding-top: 20px;
}
.select {
  background: url(../img/month1_43.jpg) no-repeat;
}
.select .tit {
  margin-bottom: 50px;
}
.select .tit a {
  padding: 12px 33px;
  font-size: 18px;
  color: #3aab96;
  border: 1px solid #3aab96;
  border-radius: 40px;
}
.footer {
  color: #4c4c4c;
  margin-top: 30px;
}
.footer .top h3 {
  color: #4c4c4c;
  font-size: 16px;
  margin-bottom: 20px;
}
.footer .top .col-lg-2 {
  color: #999999;
  font-size: 12px;
}
.footer .buttom {
  background: #ecf0f3;
  padding-top: 30px;
  margin-top: 30px;
}
.footer .buttom p {
  line-height: 20px;
  font-size: 12px;
  color: #8e9092;
}
.footer .buttom span {
  color: #666666;
  font-size: 14px;
}
.height20 {
  height: 20px;
}
.foot {
  background: #ecf0f3;
  padding-top: 24px;
  padding-bottom: 28px;
}
.foot a {
  margin: 0 15px;
  color: #8cb8fc;
  font-size: 12px;
}
.foot p {
  line-height: 27px;
}
.foot .one {
  color: #8e9092;
  font-size: 10px;
}
.foot .two {
  color: #b6b9bb;
  font-size: 10px;
}
